/*ENTIRE DOCUMENT*/

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}


.neon {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    
    text-shadow: 0 0 10px var(--glow-color),
                 0 0 20px var(--glow-spread-color);
    color: var(--glow-color);
    animation: text-shimmer 1.5s infinite alternate;
}

.center {
    text-align: center;
}

@keyframes text-shimmer {
    0% {
        text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-spread-color);
    }
    100% {
        text-shadow: 0 0 20px var(--enhanced-glow-color), 0 0 40px var(--glow-spread-color);
    }
}

@keyframes box-shimmer {
    0% {
        box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-spread-color);
    }
    100% {
        box-shadow: 0 0 15px var(--enhanced-glow-color), 0 0 30px var(--glow-spread-color);
    }
}

/*HEADER NAVIAGTION BAR (ALL)*/

.nav-bar {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 8px 25px;
    border-radius: 5px;
    background: rgb(51, 51, 51);
    position: sticky;
    opacity: 0.95;
    background: rgba(51, 51, 51, 0.5); /* Light transparency */
    backdrop-filter: blur(20px);
    top: 0;
}

.website-name {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    
    display: inline-block;
    padding: 20px;
    text-shadow: 0 0 10px var(--glow-color),
                 0 0 20px var(--glow-spread-color);
    color: var(--glow-color);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: text-shimmer 1.5s infinite alternate;
}

/*HEADER FEATURED IMAGE*/

.featured img {
    display: block;

    width: calc(100% - 10px);
    max-height: 525px;

    margin: 5px auto;
    margin-top: 0;

    object-fit: cover;
}

/*HEADER DROPDOWN MENU*/

.logo-container {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 10px;
    background: #444;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
}

.logo-container:hover .dropdown, .dropdown:hover {
    display: block;
}

.dropdown a {
    font-size: 10px;
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dropdown a:hover {
    background-color: #666;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

/*HEADER DOWNLOAD BUTTON*/

.login-btn {
    background: #333;
    color: #666;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5em;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.login-btn:hover {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    box-shadow: 0 0 10px var(--glow-color),
                 0 0 20px var(--glow-spread-color);
    animation: box-shimmer 1.5s infinite alternate;
}

.login-btn:active {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    
    box-shadow: 0 0 10px var(--glow-color),
                 0 0 20px var(--glow-spread-color);
    background-color: var(--glow-color);
    color: #333;
    animation: box-shimmer 1.5s infinite alternate;

}

/*DOWNLOAD BALLISTIC ENGINE BUTTON*/


.download-btn {
    display: block;
    padding-top: 90px;
    margin: auto;

    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.75s;
    cursor: pointer;
}

.download-btn::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.download-btn:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
}

.download-btn:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}